@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Bold\ font.ttf);
    font-weight: bold;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Bold\ Italic\ font.ttf);
    font-weight: bold;
    font-style: italic;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Book\ font.ttf);
    font-weight: 500;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Book\ Italic\ font.ttf);
    font-weight: 500;
    font-style: italic;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Extra\ Black\ font.ttf);
    font-weight: 600;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Heavy\ font.ttf);
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Heavy\ Italic\ font.ttf);
    font-weight: 400;
    font-style: italic;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/futura\ medium\ bt.ttf);
    font-weight: 300;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Medium\ Italic\ font.ttf);
    font-weight: 300;
    font-style: italic;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/futura\ medium\ condensed\ bt.ttf);
    font-weight: 200;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/futura\ light\ bt.ttf);
    font-weight: 100;
    font-style: normal;    
}

@font-face {
    font-family:'Futura';
    src: url(/font-style/Futura\ Light\ Italic\ font.ttf);
    font-weight: 100;
    font-style:italic;    
}

*{
    margin: 0;
    padding: 0;    
}

:root{
    font-family: 'Futura';
    padding-left: 30px;
    padding-right: 30px;
    /* display: flex; */
    height: 100%;    

}

html{
    scroll-behavior: smooth;
}

.navbar{
    margin-top: 10px;
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: white;
    width: 60px;
    height: 60px;
}

.feature-list li{
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.feature-list a{ 
    text-decoration: none;
    color: black;
}

.feature-list a:hover {
    background-color: wheat;
}

.hero{
    margin-top: 10px;
    background-image:url(https://images.unsplash.com/photo-1600585154340-be6161a56a0c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    /* background-image: url(assets/slideshow-image.png); */
    min-height: 85vh;      
    background-position:center;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    overflow: hidden;

}

.content{
    align-content: end;
    width: 100%;
}

.content .content-wrapper{    
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
    padding-bottom: 20px;
    padding-left: 50px;

}
  
.content .content-wrapper h1{  
    text-transform: uppercase;    
    color: white;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;    
}

.content .content-wrapper p{ 
    position: relative; 
    text-transform: uppercase;    
    color: white;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;      
}

#about {   
padding-top: 80px;
justify-items: center;
align-items: center;
flex-direction: column;
display: flex;
width: 100%;
  
}

.about-me{    
    font-family: 'Futura';
    font-weight: 300;
    font-style: normal;    
    font-size: 24px;   
}

.content-about{   
   padding-top: 10px;
    font-family: 'Futura';
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    width: 100%;
}

#project{
    padding-top: 120px;
    justify-items: center; 
    width: 100%;
}

.project-list{       
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.project-category{
    justify-content: space-between;
    display: flex;
    width: 100%;
    list-style: none;       
} 

.project-category a{
    text-decoration: none;
    color: grey;
    font-size: 24px;
    font-family: 'Futura';
    font-weight: 300;
    font-style: normal; 
}

.project-category a:hover{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Futura';
    font-weight: 300;
    font-style: normal; 
    text-decoration: underline;
}

.row {
    padding-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;   
} 

.wrapper .list-porto {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.wrapper .list-porto img
{
    width: 100%;
    border-radius: 12px;
    flex: 1;
    display: flex;
    align-items: stretch;
    object-fit: cover;   
    height: 100%;
}

.wrapper .list-porto .list-porto-descriptions{
    left: 0;
    bottom: 0;
    position: absolute;
    color: white;
    padding: 0px 0px 20px 20px ;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
    width: 100%;
    display: none;
}

.wrapper .list-porto:hover .list-porto-descriptions {
    display: block;
}

.wrapper .list-porto-descriptions .porto-title{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
}

.wrapper .list-porto-descriptions .porto-desc{
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;

}

.load-more{
    padding-top: 100px;
}

.load-more h1{
    font-weight: 100;
    font-style: normal;
    opacity: 50%; 
}

#contact{
border-top: 1px solid #9A9A9A ;
margin-top: 100px;

}

.personal-contact{
    margin-top: 50px;
}

.personal-contact .name{
    font-weight: 200;
    font-style: normal;
    /* font-size: 36px; */
}

.personal-contact-detail{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.row-contact p{
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
}

.all-right-reserved{
    margin-top: 50px;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
}


/* Project-Detail */

.hero-2{
    margin-top: 10px;
    background-image:url(https://images.unsplash.com/photo-1494526585095-c41746248156?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    /* background-image: url(assets/slideshow-image.png); */
    min-height: 85vh;      
    background-position:center;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    overflow: hidden;
}

#porto-description-details{
margin-top: 50px;
}

.category-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-list .category-description .category-title{
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.category-list .category-description .category-desc{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.porto-description-detail-text{
    margin-top: 50px;
}

.porto-description-detail-text-users{
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

#porto-gallery {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.porto-gallery-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Grid otomatis */
    gap: 15px;
    max-width: 1200px;
    width: 100%;
}

.porto-gallery-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.porto-gallery-column img {
    width: 100%;
    max-width: 100%;
    height: auto; /* Pastikan tinggi gambar menyesuaikan */
    border-radius: 5px;
    object-fit: cover;
}







